<html>
    <link rel="stylesheet" href="/style.css">
<body>
    <h1>Details page for cuddles</h1><br>

    <img class="<%= gatos.name %>" src="<%= gatos.imagen %>" alt="">
    <br>
    <h3><%= gatos.favorite %></h3>
    <br>
    <h3><%= gatos.age %></h3>
    <br>
    <article>
        <h3>Sleeping Spots:</h3>
        <h5><%= gatos.places %></h5>
    </article>
    

</body>
</html>